* {
  box-sizing: content-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #008383;
  width: 100%;
  & > h1 {
    color: white;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 0.5em;
  & > #perros{
    display: none;
    flex-direction: column;
    align-self: center;
    & > button{
      margin-top: 0.5em;
    }
  }
}

section#tipoconexion {
  display: flex;
  flex-direction: row;
}